*{
  font-family: 'Inter', sans-serif;
}

.todaPaginaV{
    background-color: #11181D;
    display: flex;
    flex-direction: row;
    overflow-y: hidden; 
  }

  .videoPage-Items{
    display: flex;
    flex-direction: column;
  }

  .Video{
    width: 100%;
    height: 160vh;
    position: relative;
    overflow: hidden;
    background-size: cover;
  }

 
/*  .Video:before{  */
   /*  content: '';*/
  /*  position: absolute; */
  /*  top: 0; */
  /*  left: 0; */
  /*   width: 100%;   */
  /*  height: 100%;  */
  /*  background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.7) 100%);  */
  /*  opacity: 0;   */
  /*  transition: opacity 0.5s ease; */
/*  } */

/* .Video:hover::before {   */
/*    opacity: 1; /* Faz o fade aparecer quando o mouse passa por cima */

/*  }  */

.videoPlayer{
  margin-top: 0.5%;
  margin-left: 25%;
  
}

.videoInfo{
  margin-left: 5%;
  margin-top: 10%;
  
}
.videoInfo #title{
  color: white;
  font-size: 72px;
  font-weight: bold;
  
}

.videoInfo #description{
  color: white;
  font-size: 16px;
  font-weight: lighter;

}

.videoClassification{
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  gap: 15px;
  
}

.category1{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 7%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-self: center;
  padding-left: 2%;
}

.category2{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 7%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-self: center;
  padding-left: 2%;
}

.category3{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 8.5%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-self: center;
  padding-left: 1%;
}