.todaPaginaA{
    background-color: #11181D;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .audioPerfil{
   display: flex;
   flex-direction: row;
   gap: 50px;
   margin-left: 5%;
   margin-top: 2%;
  }

  #btnDelete{
    background-color: rgb(134, 16, 16);
    width: 70px;
    height: 5vh;
  }
  .controls{
    display: flex;
    flex-direction: row;
  }
  .searchAdd_audio{
    
    display: flex;
    margin-left: 9%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 160vh;
    gap: 60px;
  }

  .Apre_audio{
    
    width: 720px;
    height: 400px;
    margin-left: 20%;
    margin-top: 10%;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/img/drake.jpg");
    color: white;
    background-size: cover;
  }

  .CA{
    margin-top: 25%;
    display: flex;
    gap: 350px;
  }

  .Categorias_audio2{
    margin-top: 10%;
  }

 .Categorias{
    
    
    align-items: center;
    display: flex;
 }

 #nameV{
    color: white;
    margin-left: 110px;
    font-size: 60px;
 }
 
 #radio{
    color: white;
    margin-left: -229px;
    font-size: 20px;
 }
 
 #numberV{
    margin-top: 30px;
    color: white;
    font-size: 50px;
 }

 .borda_audio{
    border-bottom: 1px solid #8A8484;
    width: 650px;
 }

 .borda_perfil{
   border-bottom: 1px solid #8A8484;
   width: 320px;
 }

 .grupoEbotao{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50%;
 }

 #btnGrupo{
  width: 83px;
  height: 5vh;
  background-color: rgb(10, 78, 10);
 }
  .songDiv{
    justify-content: center;
    align-items: center;
   display: flex;
   flex-direction: row;
   gap: 95px;
   margin-bottom: -2%;
   cursor: pointer;
   border-radius: 5px;
  }

  
  .songDiv:hover {
    background-color: rgba(116, 109, 109, 0.7); /* altere a opacidade quando passar o mouse */
}
  

  .icons{
      width: 12px;
      height: 12px;
      margin-left: 4%;
      cursor: pointer;
      
      
  }

  

  #daSemana{
   color: #8A8484;
  }

  #position{
   color: #8A8484;
  }

  #ttleSong{
   color: white;
  }

  #artistN{
   color: #8A8484;
   margin-top: -15px;
  }

  #genreDuration{
   color: #8A8484;
  }
  .artistInfo{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;
   margin-bottom: -5%;
   cursor: pointer;
   border-radius: 5px;
  }

  .userInfo{
    height: 10vh;
    display: flex;
   flex-direction: row;
   align-items: center;
   gap: 30px;
   margin-bottom: -5%;
   cursor: pointer;
   border-radius: 5px;
  }
  
.addContent{
  cursor: pointer;
  margin-top: 2%;
  width: 5%;
  height: 5.5vh;
  border-radius: 7px;
  background-color: rgba(116, 109, 109, 0.4);
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addContent:hover {
  background-color: rgba(116, 109, 109, 0.7); /* altere a opacidade quando passar o mouse */
}

.plusIcon{
  width: 20px;
  height: 20px;
}

.addVideo_Thumb{
  width: 30px;
  height: 30px;
}

  .artistInfo:hover {
    background-color: rgba(116, 109, 109, 0.7); /* altere a opacidade quando passar o mouse */
}
  
.userInfo:hover {
  background-color: rgba(116, 109, 109, 0.7); /* altere a opacidade quando passar o mouse */
}
  #artistPhoto{
   width: 50px;
   height: 50px;
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
   border-radius: 50px;
  }

  #artisTitle{
   font-size: 12px;
   color: white;
   
  }

  #range1{
   font-size: 10px;
   color: #D9D9D9;
   margin-left: 1%;
  }

  #range2{
   font-size: 10px;
   color: #D9D9D9;
  }


  #artistP{
   width: 30px;
   height: 30px;
   border-radius: 50px;
   margin-left: 10%;
   margin-top: 0.5%;
  }
  
  .audioPlayer-div{
    
   display: flex;
   flex-direction: row;
   margin-top: 2%;
   width: 110.6%;
   height: 7.6vh;
   background-color: rgba(116, 109, 109, 0.7);
   font-weight: bold;
    font-family: 'Inter', sans-serif;
    align-items: center;
    gap: 10px;
  }

  #progress{
   -webkit-appearance: none;
   width: 50%;
   height: 6px;
   background-color: #D9D9D9;
   border-radius: 4px;
   cursor: pointer;
  }

  #progress::-webkit-slider-thumb{
   -webkit-appearance: none;
   background: #D9D9D9;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   
  }
  .btn-confirmar{
    background-color: #C2C2C2;
    color: #444343;
    width: 26vh;
    height: 6vh;
  }

  .btn-cancelar{
    color: #444343;
    background-color: #D9D9D9;
    border: 0.5px solid #C2C2C2;
    width: 26vh;
    height: 6vh;
  }

  .corpo{
    
    display: flex;
    flex-direction: column;
    gap: 27px;
  }

  .Input{
    border: 1px solid #C8C8C8;
    color: #444343;
  }

  #i1{
    border-radius: 5px;
    height: 4vh;
    width: 59vh;
    margin-bottom: 3%;
  }

  #i1::placeholder{
    color: #444343;
    font-size: 13px;
    font-weight: bold;
  }

  #i2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vh;
    height: 10vh;
    margin-bottom: 2%;
  }

  .titleModel{
    color: #444343;
  }

  .btnDiv{
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }