
.todaPaginaR{
  background-color: #11181D;
  display: flex;
  flex-direction: row;
  overflow-y: hidden; 
}

.Apresentacao{
  align-items: center;
   justify-content: center;
}

.Apre{
   background-image: url("../../assets/img/drake.jpg");
   width: 720px;
   height: 400px;
   margin-left: 20%;
   margin-top: 10%;
   box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
   border-radius: 30px;
   background-size: cover;
   font-weight: bold;
   font-family: 'Inter', sans-serif;
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: column;
   
}
.Categorias{
  
   margin-top: 25%;
   align-items: center;
   display: flex;
}

#nameR{
   color: white;
   
   font-size: 80px;
}

#radio{
   color: white;
   
   font-size: 20px;
}

#numberR{
   margin-top: 30px;
   color: white;
   font-size: 50px;
   
}

#leftStyle{
  border: 2px solid black;
}

.RadioDiv{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 47px;
  cursor: pointer;
  border-radius: 5px;
}

.searchAdd_radio{
    
  display: flex;
  margin-left: 9%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 160vh;
  gap: 60px;
}

.RadioDiv:hover {
  background-color: rgba(116, 109, 109, 0.7); /* altere a opacidade quando passar o mouse */
}

#maisPopu{
  color: white;
  align-items: center;
}

#daSema{
  color: #8A8484;
}


.MaisPopulares{
  margin-top: 3%;
  margin-left: 20%;
  
  
}

.TopMusicos{
 
  margin-left: 22%;
  
}

.borda{
  border-bottom: 1px solid #8A8484;
  width: 720px;
}

.live {
  width: 40px;
  height: 20px;
  background-color: #8A8484;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

.playing {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80px;
  height: 20px;
}

.playing div {
  width: 8px;
  height: 20px;
  background-color: #8A8484;
  animation: wave 1s infinite alternate;
}

@keyframes wave {
  from {
    height: 10px;
  }
  to {
    height: 20px;
  }
}

.rect1, .rect2, .rect3, .rect4, .rect5 {
  width: 8px;
  height: 20px;
  background-color: blue;
  animation: wave 1s infinite alternate;
}


#numero{
  color: #8A8484;
}

#nome{
  color: white;
  align-items: center;
}

#frequencia{
  color: #8A8484;
}

